@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Neonderthaw&family=Roboto:ital,wght@1,300&family=Rubik:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Comforter', cursive;
  font-family: 'Neonderthaw', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 10px;
  border-radius: 10%;
}

::-webkit-scrollbar-track{
  background-color: rgb(194, 183, 183);
}
::-webkit-scrollbar-thumb{
  background-color: #525050;
}


.home {
  height: 100vh;
  width: 100vw;
  background-color: #868282;
  background-image: linear-gradient(160deg, #6d6a693b 0%, #d6d3d1 100%);  
  text-align: center;
  color: white;
  padding-top: 10px;

}

.inputCep{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px
}
.dados{
  margin: 10px;
  background-color: #a19e9e;
  border: 1px solid #424141;
  border-radius: 2%;
  text-align:start;
  padding: 10px;
  overflow-y: scroll;
  height: 30vh;
  width: 100vh;
  display: inline-block;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  overflow-block: scroll;
}

.inline-block{
  display: flex;
  overflow: visible;
}

.textoDados{
  display: block;
}

.titulo{
  font-size: 20px;
  font-weight: bold;
}
.icones{
  display: inline;
}
.icon{
  margin-right: 10px;
  align-items: center;
}
.botaoPesquisar,
.botaoCadastrar{
  margin:10px;
}
.btn-actions{
  width: 10px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}
.cadastro{
  background-image: linear-gradient(160deg, #6d6a693b 0%, #d6d3d1 100%);  
  height: 100%;
  border-radius: 5px;
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.card-total{
  border: 1px solid red;
  width: 120vh;
}